<a href="https://colab.research.google.com/github/Shazia223/Python/blob/main/Lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variable**

In [ ]:
x = 5
y = "Shazia"

print(x)
print(y)

5
Shazia

In [ ]:
x = 10
x = "Shazia"

print(x)

Shazia

In [ ]:
x = str(22)
y = int(22)
z = float(22)

print(x)
print(y)
print(z)

22
22
22.0

In [ ]:
a = 5
b = "Shazia"
c = 20.5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

**Single, Double and Triple quotes**

In [ ]:
x = 'Shazia'
y = "Risha"
z = """Eshal"""

print(x)
print(y)
print(z)

Shazia
Risha
Eshal

**Case sensitive**

In [ ]:
b = 20
B = 45

print(b)
print(B)

20
45

**Rules for Variable**

In [2]:
 myvar = "Shazia"
my_var = "Shazia"
_my_var = "Naila"
myVar = "Misbah"
MYVAR = "Rimsha"
myvar2 = "Eshmal"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Shazia
Shazia
Naila
Misbah
Rimsha
Eshmal

**Multiple Values in one line**

In [3]:
 x, y, z = "Eshmal", "Shazia", "Rimsha"

print(x)
print(y)
print(z)

Eshmal
Shazia
Rimsha

**print function is used to output function**

In [4]:
x = "Python is"
y = "a"
z = "programming language"

print(x, y, z)

Python is a programming language


**Global variables can be used by everyone, both inside of functions and outside**

In [6]:
x = "awesome"

def myfunc():
  x = "Good"
  print("Python is " + x)

myfunc()

print("Python is " + x)

#another example

def myfunc():
  global x
  x = "Interesting"

myfunc()

print("Python is " + x)

Python is Good
Python is awesome
Python is Interesting